<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hanuman:wght@700&family=Inria+Sans&family=Junge&display=swap">
        <link rel="stylesheet" href="/css/common.css">
    </head>
    <body>

        {{{body}}} <!--  -->

    </body>
</html>