{{> header}}

<div class="container">
    <div class="row">
        <div id="searchForm" class="col-4">
            <p class="float-start">Search Filters:</p><br>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="speciesSelect" class="form-label">Species</label>
                    <select name="species" id="speciesSelect" class="form-select form-select-lg">
                        <option selected>Any Species</option>
                        <option value="doggo">Dogs</option>
                        <option value="hissy">Cats</option>
                        <option value="borb">Birds</option>
                        <option value="smol">Rodents</option>
                    </select> 
                </div>
                <div class="mb-3">
                    <label for="" class="form-label"></label>
                    <select name="" id="" class="form-select form-select-lg">
                        <option selected>Does not matter</option>
                        <option value="">1</option>
                        <option value="">2</option>
                    </select> 
                </div>
            </form>
        </div>
        <div id="resultContainer" class="col-8">
            <p class="float-start">Results</p>
        </div>
    </div>
</div>

