#head {
    height: min-content;
    width: min(1300px, 90vw);
    margin: 5vh auto;
    border: 3px solid var(--dark-blue);
    padding: 10px 15px;
  }

.dropdowns {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add margin bottom for spacing */
  }
  /* Style the dropdown content */
  .dropdown-content {
    background-color: #C7BCD3; /* Setting background color of dropdown content */
  }
  .row {
    display: flex;
  }
  .column {
    flex: 1;
    margin-right: 10px;
  }
  .column select {
    width: 100%; /* Make dropdowns take up full width */
    padding: 8px; /* Increase padding for better appearance */
    font-size: 16px; /* Increase font size for better readability */
  }

#body {
    height: min-content;
    width: min(1300px, 90vw);
    margin: 0 auto;
    border: 3px solid var(--dark-blue);
    padding: 20px;
    display: flex;
  }
  #textareas {
    width: 100%;
  }
  #buttons {
    width: 50%;
    
  }
  .pet-form input[type="submit"] {
    width: 30%;
    margin: auto;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .pet-form input[type="submit"]:hover {
    background: var(--dark-blue);
  }
  .pet-form input[type="button"] {
    background-color: var(--opaque);
    width: 30%;
    margin: auto;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .pet-form input[type="button"]:hover {
    background: var(--violet);
  }