.login-container {
    height: 35vh;
    width: min(400px, 30vw);
    background: #d9d9d9;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .login-title {
    font-size: 75px;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .form-field {
    width:80% ;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* To ensure padding does not affect width */
  }
  .login-form input[type="submit"] {
    width: 30%;
    margin: auto;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .login-form input[type="submit"]:hover {
    background: var(--dark-blue);
  }

  .register-link {
    display: block;
    margin-top: 20px;
  }
  