body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .login-title {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* To ensure padding does not affect width */
  }
  .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: white;
    cursor: pointer;
  }
  .login-form input[type="submit"]:hover {
    background: #2980b9;
  }
  .register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  