/* Back to Results */
body{
  background-color: #F5F5F5 ;
}
.back-to-results {
    display: inline-block;
    color: black;
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration:none;
    text-align: left;
    padding: 20px;
    z-index: 1; 
  }
  
  .back-to-results h3 {
    display: inline-block; /* Ensure the image and text are on the same line */
    vertical-align: middle; /* Align text vertically with the image */
    margin-left: 10px; 
  }
  
  /* Profile container */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; /* Adjust width as needed */
    background-color: white;
    border: 5px solid black; /* Add black border */
    padding: 20px; /* Add padding */
    max-width: calc(100% - 40px); /* Adjust maximum width to fit within the viewport */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  
  /* Left section */
  .left-section {
    width: 66.66%; /* 2/3 of the container */
    padding-right: 20px;
  }
  
  /* Right section */
  .right-section {
    width: 33.33%; /* 1/3 of the container */
  }
  
  /* Image carousel */
  .image-carousel {
    position: relative;
  }
  
  /* Scroll bar */
  .scroll-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #6E2A7E; /* Purple color */
  }
  
  /* White scroll part */
  .scroll-bar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
  
  /* Profile info */
  .profile-info h3 {
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-size: 32px;
  }
  
  .profile-info p {
    font-family: "Inria Sans", sans-serif;
    font-size: 24px;
  }
  
  /* Dog image */
  .dog-image {
    text-align: center;
    margin-top: 20px; /* Adjust top margin as needed */
  }
  
  .dog-image img {
    width: 90%; /* Set image width to 90% of parent width */
    height: auto; /* Maintain aspect ratio */
    border: none; /* Remove border */
  }
  
  /* Dog info */
  .dog-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .dog-info h2 {
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-size: 32px;
  }
  
  .dog-info p {
    font-family: "Inria Sans", sans-serif;
    font-size: 24px;
  }
  
  /* Overflow scroll */
  .overflow-scroll {
    max-height: 150px;
    overflow-y: auto;
  }
  
  /* Dog info labels */
  .info-label {
    color: #888888;
  }
  
  /* Dog info values */
  .info-value {
    color: black;
  }
  
  /* Message button */
  #message-button {
    position: fixed;
    bottom: 20px;
    left: 0; /* Anchor to the left side of the screen */
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    background-color: #6E2A7E;
    border: none;
    border-radius: 0 40px 40px 0; /* Rounded on the right side */
    overflow: hidden; /* Ensure the image is contained within the button */
    padding: 15px; /* Add padding */
  }
  
  #message-button img {
    width: 100%;
    height: 100%;
  
    filter: brightness(0) invert(1); /* Make the image white */
  }
  