/* PetProfile.css */

/* Pet container */
body {
  background-color: #F5F5F5;
}

.header {
  border: 2px solid black; /* Adding black border around the header */
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap; /* Allow header content to wrap */
  justify-content: space-between;
  align-items: center;
  font-family: "Inria Sans", sans-serif; /* Matching font with other text */
}

.paw-logo {
  width: 100px;
  height: auto;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Add margin bottom for spacing */
}

/* Style the dropdown content */
.dropdown-content {
  background-color: #C7BCD3; /* Setting background color of dropdown content */
}

.row {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.column select {
  width: 100%; /* Make dropdowns take up full width */
  padding: 8px; /* Increase padding for better appearance */
  font-size: 16px; /* Increase font size for better readability */
}

#sort-by-location-checkbox {
  margin-top: 10px;
  /* Ensure checkbox starts on a new line */
}

#search-button {
  background-color: #5E80C4;
  color: #FFF;
  border: none;
  padding: 20px 40px;
  font-size: large;
  font-weight:bold;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #486dab;
}
.pet-container {
  background-color: #F5F5F5;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 150px;
}
/* Pet profile */
.pet-profile {
  background-color: white;
  width: calc(25% - 20px); 
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.pet-profile img {
  width: 100%; 
}

.pet-profile h2 {
  font-family: "Hanuman", serif;
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
}

.pet-profile p {
  font-family: "Inria Sans", sans-serif; 
  font-size: 24px; 
  position: relative;
}
.see-profile-link{
  font-family: "Inria Sans", sans-serif; 
  font-style:italic;
}
/* Overflow scroll for descriptions */
.overflow-scroll {
  max-height: 100px; 
  overflow-y: auto; 
}


/* Message button */
#message-button {
  position: fixed;
  bottom: 20px;
  left: 0; 
  width: 80px;
  height: 80px; 
  background-color: #6E2A7E;
  border: none;
  border-radius: 0 40px 40px 0;
  overflow: hidden; 
  padding: 15px; 
}

#message-button img {
  width: 100%;
  height: 100%;

  filter: brightness(0) invert(1); 
}


@media screen and (max-width: 768px) {
  .pet-profile {
    width: calc(50% - 20px); 
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .pet-profile {
    width: calc(100% - 20px); 
  }
}
